footer
    .container
        .col-md-4
            | © Copyright @Tomas 
            a(href='http://rimvydas.site', target='_blank')
                i.fa.fa-wrench(aria-hidden='true')
                    |  Developer