header
      nav#navigation.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
        .container
          a.navbar-brand(href='/') LOGO!
          #navigationLinks.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/') Pagrindinis
              li.nav-item
                a.nav-link(href='#') Skelbimai
              li.nav-item
                a.nav-link(href='#') Nuoroda
              li.nav-item
                a.nav-link(href='/auth/login') Prisijungimas
            a.btn.btn-success(href='#') Naujas skelbimas
      nav#smallNavigation.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
        .container
          a.navbar-brand(href='#') LOGO!
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#smallNavigationLinks', aria-controls='smallNavigationLinks', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #smallNavigationLinks.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='#') Pagrindinis
              li.nav-item
                a.nav-link(href='#') Skelbimai
              li.nav-item
                a.nav-link(href='#') Nuoroda
              li.nav-item
                a.nav-link(href='#') Nuoroda
            a.btn.btn-success(href='#') Naujas skelbimas