extends ../layout/layout
block mainContent
    .container
        .row
            .col-md-4.offset-md-3
                a.btn.btn-success.btn-margin(href="/auth/login?red=newItem") Prisijungti
                a.btn.btn-success.btn-margin(href="/properties/create/anonymous") Anoniminis skelbimas