extends layout/layout
block mainContent
  .container-fluid
    #mapRow.row(style='position: relative')
      #map
      #searchOnMap
        .container
          form#searchOnMapForm
            .form-row
              .col
                label(for='typeSelect') Būsto tipas
                select#typeSelect.form-control.form-control-sm
                  option Butas
                  option Kambarys
                  option Namas
              .col
                label(for='locationSelect') Vieta
                select#typeSelect.form-control.form-control-sm
                  option
                  option Palanga
                  option Sventoji
            .form-group.sliderContainer
              label(for='priceRange')
                | Kaina iki: 
                span#maxPrice 150
                |  EUR.
              input#priceRange.slider(type='range', min='50', max='500', value='150', step='10')
            .form-group.sliderContainer
              label(for='minimumCapacity')
                | Lovų skaičius >
                span#minBeds 3
              input#minimumBeds.slider(type='range', min='1', max='10', value='3')
            button.btn.btn-success Ieškoti
            a(href='/properties/') Išplėstinė paieška
  .container.marginTop.latestContainer
    .row
      .col-md-12.rowTitle
        h3 Populiariausi
    .row.cardHolder
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
  .container.marginTop.latestContainer
    .row
      .col-md-12.rowTitle
        h3 Naujausi skelbimai
    .row.cardHolder
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
      .card(style='width: 18rem;')
        img.card-img-top(src='/images/property.jpg', alt='Property image')
        .card-body
          h5.card-title Nemuno g. 5
          p Kambarys, nuosava virtuve, dusas
          a.btn.btn-success(href='#') Apžiūrėti
  .container-fluid.mainAdHolder.marginTop
    h3 Vieta jūsų reklamai
  .container.marginTop.infoNews
    .row
      .col-md-3
        h5 Title
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpe.
      .col-md-3
        h5 Title
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpe.
      .col-md-3
        h5 Title
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpe.
      .col-md-3
        h5 Title
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpe.


