extends layout/layout
block mainContent
    form#filter-form(method='GET', action='/properties/search')
        .container.marginTop
            .row
                .col
                    .form-group
                    label(for='type') Busto tipas
                    select.filter#type.form-control(name='type')
                        option(value='*') 
                        option(value='butas') Butas
                        option(value='namas') Namas
                        option(value='kambarys') Kambarys
                .col
                    .form-group
                    label(for='location') Vietove
                    select.filter#location.form-control(name='location')
                        option(value='*') Visos vietoves
                        option(value='Nida') Nida
                        option(value='Juodkrante') Juodkrante
                        option(value='Klaipeda') Klaipeda
                        option(value='Palanga') Palanga
                        option(value='Sventoji') Sventoji
            .row
                .col
                    .form-group.sliderContainer
                        label(for='minimumRoom')
                            | Kambarių skaičius >
                            span#minRoom
                        input.filter#minimumRoom.slider(type='range', min='1', max='10', value='1', name='rooms')
                .col
                    .form-group.sliderContainer
                        label(for='priceRange')
                            | Kaina iki 
                            span#maxPrice
                            |  EUR. per parą
                        input.filter#priceRange.slider(type='range', min='50', max='500', value='150', step='10', name='price')
            .row
                .col
                    .form-group.sliderContainer
                        label(for='minimumBeds')
                            | Lovu skaičius >
                            span#minBeds
                        input.filter#minimumBeds.slider(type='range', min='1', max='10', value='2', name='beds')
            button.btn.btn-success(type='submit') 
                | Ieškoti
                span#resultCount