extends ../layout/layout
block mainContent
    .container
        .row
            .col-md-8.offset-md-2
                .form-group
                    label(for='id') ID
                    input.form-control#id(type='text', value=information.id, name='id', disabled='')
                .form-group
                    label(for='title') Title
                    .input-group.mb-3
                        input.form-control#title(name='title', type='text', value=information.title)
                        .input-group-append
                            button.btn.btn-outline-secondary.update-btn-info(type='button') Update
                .form-group
                    label(for='body') Body
                    .input-group.mb-3
                        textarea.form-control#body(name='body')=information.body
                        .input-group-append
                            button.btn.btn-outline-secondary.update-btn-info(type='button') Update